.DS_Store
.thumbs.db
node_modules

# Firebase/Firestore Related
/peganad-emulator-data/*
start-emulator.sh
ui-debug.log
firestore.rules
firestore.indexes.json
firestore-debug.log
firebase.json
firebase-debug.log
storage.rules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
firebase-debug.log
firebase-export-1625016778375yKqhyM/firestore_export/firestore_export.overall_export_metadata
firebase-export-1625016778375yKqhyM/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1625016778375yKqhyM/firestore_export/all_namespaces/all_kinds/output-0
